# React
/node_modules
/build

# FastAPI / Python
__pycache__/
.pytest_cache/
.env
.env.*   # Все env файлы
*.pyc
*.pyo
*.pyd
.Python

# Виртуальное окружение
venv/
env/
.venv/

# Логи
*.log

# IDE / редакторы
.vscode/
.idea/
.DS_Store
Thumbs.db

# Тестовые и временные файлы
.cache/
.pytest_cache/
.mypy_cache/
.mypy_cache/
.coverage
coverage.xml
nosetests.xml

# Различные временные файлы